:root {
    --dark-color: #2d3749;
    --green-color: #5e98ee;
    --section-color: #eff7fa;
    --yellow-color: #dba020;
}

/* Start Navbar */
.navbar {
    background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link {
    color: white;
}
.navbar-brand,
.navbar-brand:focus, 
.navbar-brand:hover,
.navbar-brand.active {
    color: white;

}

.navbar-brand:focus, 
.navbar-brand:hover,
.navbar-brand.active {
    color: #5e98ee;

}

.navbar .navbar-nav .nav-link.active, 
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--green-color);
}
.navbar .navbar-toggler {
    color: white;
    font-size: 25px;
    border-color: white;
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
} 

/* End Navbar */

/* Start  Hero Sction */
.hero {
    background-color: var(--dark-color) ;
    min-height: calc(100vh - 72px);
}


/* End  Hero Sction */

/* Start featuers Sction */
.main-title::after {
    content: '';
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.icon-holder {
    height: 200px;
}
.icon-holder svg {
    left:50%;
    transform: translateX(-50%);
}
.icon-holder .number {
    font-size: 12rem;
    color: var(--section-color);
}
.icon-holder .icon {
    
    color: var(--green-color);
}
/* End featuers Sction */

/* Start stufff */
.description {
    max-width: 500px;
}
.main-btn {
    border: 1px solid #ced4da;
}
.main-btn:hover {
    background-color: #5e98ee;
    border: 1px solid #adb5bd;

}
/* End  stufff */

/* Start Our Team */
.our-team {
    background-color: var(--section-color) ;
}
.our-team .box h4 {
    background-color: #5e98ee;
} 


/* End Our Team */
/* Start project */
.project {
    background-color: var(--dark-color);
}
/* End project */

/* Start subscribe */
.subscribe {
    background-color: var(--yellow-color);
}
.subscribe input[type="text"] {
    border: none;
    border-bottom: 1px solid white;
}
.subscribe input[type="text"]:focus {
    outline: none; 
}
.subscribe ::placeholder {
    color: white;
}
.subscribe input[type="submit"] {
    background-color: var(--dark-color);
    color: var(--yellow-color)
}
/* Start subscribe */

/* Start footer */
.footer {
    background-color: var(--dark-color);
}
 li a {
    color: white;
    text-decoration: none;
}
.footer .copyright > span {
    color: var(--green-color);
}
.footer .copyright div span {
    color: var(--yellow-color);
}
.footer contact ul svg {
    width: 20px;
    height: 20px;
}
.footer .facebook {
    background-color: #1877f2;
}
.footer .twitter {
    background-color: #1da1f2;
}
.footer .linkedin {
    background-color: #0077b5;
}
.footer .youtube {
    background-color: #ff0000;
}
/* End footer */